---
layout: default
title: journal
---
    <div>
      {% for item in site.categories.journal %}{% assign month = item.date | date: "%B" %}{% if month != prev %}{% if in_ul %}{% assign in_ul = false %}</ul>
      {% endif %}
      <h2>{{ month }}</h2>
      <ul>{% endif %}
        <li>
          <a href="{{ item.url }}"
             title="{{ item.title }}">
            {{ item.title }}
          </a>
        </li>{% assign in_ul = true %}{% assign prev = month %}
      {% endfor %}</ul>
    </div>

