<!doctype html>

<html lang="en-us">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>iter&#x2215;ex{% if page.title  %} &mdash; {{ page.title }}{% endif %}</title>
  <link rel="stylesheet" href="/css/main.css" type="text/css" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed.xml" />
</head>

<body>
  <div id="main" {% if page.is_photo or page.title == 'photography' %}class="wide"{% endif %}>
    <h1>
      <a href="/">iter<span>&#x2215;</span>ex</a>
    </h1>
    <nav>
      <ul>
        <li><a href="/journal">journal</a></li>
        <li><a href="/photography">photography</a></li>
      </ul>
    </nav>
{{ content }}
    <div id="push"></div>
  </div>
  <div id="footer"></div>
</body>

</html>
