---
layout: default
---
    <div>
    {% if page.categories contains 'journal' %}
      <div class="row">
        <h1>{{ page.title}}</h1>&nbsp;<span>&#x2215; {{ page.author }}</span>
        <time datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%SZ" }}"
              title="{{ page.date | date: "%Y-%m-%d %H:%M" }}">
          {{ page.date | date: "%B %d" }}
        </time>
      </div>
      <div id="page">
        {{ content }}
      </div>
      <div id="chrono">
        {% if page.previous %}<a href="{{ page.previous.url }}">Previous</a>{% endif %}
        {% if page.next %}<a href="{{ page.next.url }}">Next</a>{% endif %}
      </div>
    {% else %}
        <img src="{{ page.src }}" title="{{ page.title }}" />
    {% endif %}
    </div>
